.reset__card{
  position: relative;
  background: #232329;
  padding: 15px;
}
.reset__item_box{
  padding: 5px;
  border-radius: 5px;
}
.reset__con{
  width: 370px;
  margin: auto;
  padding: 30px 0;
}

.reset__form_title{

  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.reset__label{
  display: block;
  margin-bottom: 20px;
}
.reset__label.unactive{
  color: #646464
}
.reset__label::before{
  position: relative;
  display: inline-block;
  content: '';
  width: 5px;
  height: 5px;
  background: #30c2c7;
  border-radius: 100%;
  margin-right: 5px;
  top: -2px;
}
.reset__password_input_box{
  position: relative;
   margin-bottom: 10px; 
}
.reset__password_input_show_icon{
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #035555
}
.reset__password_input_show_icon:hover{
  color: #05bdbd
}
.reset__password_input_show_icon-un{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #035555;
  cursor: default;
}
.reset__input{
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  padding: .5rem  1rem;
  color: black;
}
.reset__input.unactive{
  border: 1px solid #646464;
}

.reset__form_row:first-child{
  border-bottom: 1px solid #646464;
}
.reset__form_row{
  margin-bottom: 20px;
}
.reset__password_bt{
  width: 100%;
  padding: 15px;
  background: #04767a;
  border: 0;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.reset__password_bt:hover{
  background: #03575a;
}
.reset__password_bt.unactive{
  background: #03575a;
  color: #797979;
}
.reset__password_input_tx{
  position: relative;
  font-size: 14px;
  left: -15px;
  transition: 1s ease;
  opacity: 0;
  margin-bottom: 10px;
}
.reset__password_input_tx.active{
  left: 0;
  opacity: 1;
}
.reset__username_tx{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #09a6ac;
  margin-bottom: 50px;
}
.reset__title_img{
  text-align: center;
  margin-bottom: 20px;
}
.reset__title_tx{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #b8b8b8;
  background: #05888d;
}
.reset__title_inner_tx{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.reset__socail_login_info{
  font-size: 12px;
  color: rgb(230,187,71);
  margin-bottom: 20px;
}