body{
  height: 100vh;
}
.testModal{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  transition: .7s;
  opacity: 0;
  width: 400px;
  height: 200px;
  background: #fff;
  border: 1px solid rgb(197, 197, 197);
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.308);
}
.testModal.on{
  opacity: 1;
  top: 140px;
  z-index: 1;
}
.menu{
  position: fixed;
  right: -45%;
  top: 0;
  width: 45%;
  height: 100%;
  background: rgba(0,0,0,.5);
  opacity: 9;
  transition: .5s;
}
#menu.on{
  right: 0;
}